.serviceTravelingBgImg {
  background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
    url(../../../public/images/services/services-bg-1.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url(../../../public/images/services/services-bg-1@2x.jpg);
  }
}

.serviceClimbingBgImg {
  background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
    url(../../../public/images/services/services-bg-2.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url(../../../public/images/services/services-bg-2@2x.jpg);
  }
}

.serviceBallooningBgImg {
  background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
    url(../../../public/images/services/services-bg-3.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url(../../../public/images/services/services-bg-3@2x.jpg);
  }
}

.serviceSkydivingBgImg {
  background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
    url(../../../public/images/services/services-bg-4.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url(../../../public/images/services/services-bg-4@2x.jpg);
  }
}

.serviceRaftingBgImg {
  background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
    url(../../../public/images/services/services-bg-5.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(2, 15, 8, 0.75),
        rgba(2, 15, 8, 0.75)
      ),
      url(../../../public/images/services/services-bg-5@2x.jpg);
  }
}
